<!DOCTYPE html>
<html lang="en">
meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
title Home | AstaCode India
link(rel="stylesheet", href="../static/CSS/style.css")
link(rel="stylesheet", href="../static/CSS/nav.css")
link(rel="shortcut icon", href="../static/Images/Logo.ico", type="image/x-icon")
link(rel="stylesheet", href="../static/CSS/locomotive.css")
//- link(rel="stylesheet", href="../static/CSS/reponsive.css")
link(rel="stylesheet", media="screen and (Max-width: 977px)", href="../static/CSS/responsive.css")
link(rel="stylesheet", media="screen and (Max-Width: 500px)", href="../static/CSS/responsive2.css")
#cursor
nav#Navbar
    #nav-head
      #logo 
        a(href="/") AstaCode India
      #close
        | Close 
        button.dot#hide
    #upper-nav
      #main-nav
        a.menu-item(href="/pricing")
          div
            span.menu-item-text Pricing
        a.menu-item(href="/services")
          div
            span.menu-item-text Services
        a.menu-item(href="/testimoneals")
          div
            span.menu-item-text Testimoneals
        a.menu-item(href="/our-team")
          div
            span.menu-item-text Our-Team
      #side-nav
        h2 Connect with us...
        a.menu-item(href="#")
          div
            span.menu-item-text X
        a.menu-item(href="#")
          div
            span.menu-item-text Instagram
        a.menu-item(href="#")
          div
            span.menu-item-text Linkedin
        a.menu-item(href="#")
          div
            span.menu-item-text Facebook
      #lower-nav
        #small-nav
          a.menu-item(href="/about-us")
            div
              span.menu-item-text About-us
          a.menu-item(href="/contact-us")
            div
              span.menu-item-text Contact-us
          a.menu-item(href="/terms-and-condition")
            div
              span.menu-item-text Terms & Conditions
          a.menu-item(href="/refer-and-earn")
            div
              span.menu-item-text Refer & Earn
main#main
  header
    #header-left
     #logo 
        a(href="/") AstaCode India
    #header-right
      #contact
        a.menu-item(href="/contact-us")
          div
            span.menu-item-text Contact
      h3 Menu
          button#show.dot
  //  Hero Section 
  section#hero
    .home-line.line-1
      h1 Unleashing Digital Excellence.
    .home-line.line-2
      h1
        | Transforming
        span.idea  ideas 
        | into
    .home-line.line-3
      h1 Stunning Digital Experiences
  //  Section 2  
  section#part-2
    #left-part
      #sphere
        img(src="../static/Images/Logo.png", alt)
    #right-part
        h2   Welcome to AstaCode India, 
        h2 where innovation meets   
        h2 design in the digital realm. We 
        h2 don't just create websites. We  
        h2 craft immersive  digital 
        h2  experiences that captivate and 
        h2 inspire.
  //  Section 3 
  section#part-3
    #upper-part
      h2.reveal-type 🚀 Elevate your brand with cutting-edge web development and 
      h2 design.
    #lower-part
      h2.reveal-type 🌐 Seamless. Responsive. Unique.
    a(href="#", target="_self")
      button.btn
        span(data-text="Learn More.") Learn More.
  //  Section 4 
  section#part-4
    #text-4
      h2.reveal-type Our passion lies in turning your vision into a visually compelling reality.
      h2.reveal-type  From sleek user interfaces to powerful backend solutions,
      h2.reveal-type  we bring expertise and creativity to every project.
    a(href="#", target="_self")
      button.btn
        span(data-text="Explore Our Services ") Explore Our Services
  //  Section 5 
  section#part-5
    #text-5
      h2.reveal-type Let's create something extraordinary together!
    a(href="#", target="_self")
      button.btn
        span(data-text="Contact-us ") Contact-us
  footer
    #footer-up
      #up-part
        h2 Connect with us...
      #menu
        a.menu-item(href="#")
          div
            span.menu-item-text X
        a.menu-item(href="#")
          div
            span.menu-item-text Instagram
        a.menu-item(href="#")
          div
            span.menu-item-text Linkedin
        a.menu-item(href="#")
          div
            span.menu-item-text Facebook
    #footer-between
      #part-left
        h2
          | Bhind,
          br
          | Madhya Pradesh
      #part-right
        #mail
          h3 mail@astacodeindia.in
        #year
          h2 ©2024
    #footer-down
      h1 ASTACODE INDIA
script(src="https://unpkg.com/@studio-freight/lenis@1.0.34/dist/lenis.min.js")
//- script(src="https://cdn.jsdelivr.net/gh/LieutenantPeacock/SmoothScroll@1.2.0/src/smoothscroll.min.js", integrity="sha384-UdJHYJK9eDBy7vML0TvJGlCpvrJhCuOPGTc7tHbA+jHEgCgjWpPbmMvmd/2bzdXU", crossorigin="anonymous")
script(src="https://cdn.jsdelivr.net/npm/split-type@0.3.4/umd/index.min.js") 
//- script(src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js") 
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js", integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==", crossorigin="anonymous", referrerpolicy="no-referrer")
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js", integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==", crossorigin="anonymous", referrerpolicy="no-referrer")
script(src="../static/JS/myloco.js")
script(src="../static/JS/script.js")
script(src="../static/JS/Text.js")

