<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Home | AstaCode India</title>
<meta name="google-site-verification" content="4CDDR53kkPxfRbOT4akozS8mqZC706U5e0m-xb2Bdao" /><meta name="description"
  content="AstaCode India crafts captivating websites & apps that propel your business. We offer Web Design, Development, SEO, WordPress, App Development & more. From stunning visuals to powerful functionality, we deliver results that drive growth. Let's craft your digital masterpiece!">
<meta name="keywords"
  content="web design agency India ,website development company India, web design services India, web development services India, web design for small business India, responsive web design India, UI/UX design India, landing page design India, website redesign India, web application development India custom website development India, affordable web design India, web design cost India, website development cost India, Specific Services:, WordPress development India, ecommerce website development India, SEO services India, web maintenance services India, content management system (CMS) development India, web hosting India, website security India, motion graphic design India, app development India, mobile app development India, Benefits & Targeting:, increase website traffic India, improve website conversion rate India, generate leads through website India, grow online sales India, best web design companies India, top web development agencies India, web design for startups India, web design for enterprises India, local web design services (city name) India, Informational Keywords:, what is web design?, what is web development?, what is SEO?, what is responsive web design?, benefits of web design, benefits of SEO, how to choose a web design agency, web design for [industry] India (e.g. healthcare, education, manufacturing), website development for [type of website] India (e.g. blog, portfolio, e-commerce)SEO for school websites India, SEO for hotel websites India, SEO for coaching websites India, SEO for real estate websites India, WordPress development for school India, web design agency Bhind India, web design agency Gwalior India, web design agency Morena India, web design agency Indore India
, website development company Bhind India, website development company Gwalior India, website development company Morena India, website development company Indore India, SEO services Bhind India,SEO services Indore India, SEO services Morena India, SEO services Gwalior India, AstaCode India, astacode india, astacode, astacode india bhind, Bhind">
<meta name="robots" content="index, follow">
<link rel="canonical" href="https://astacode.us.to/">
<link rel="stylesheet" href="../static/CSS/style.css">
<link rel="stylesheet" href="../static/CSS/nav.css">
<link rel="shortcut icon" href="../static/Images/Logo.ico" type="image/x-icon">
<link rel="stylesheet" href="../static/CSS/locomotive.css">
<link rel="stylesheet" media="screen and (Max-width: 977px)" href="../static/CSS/responsive.css">
<link rel="stylesheet" media="screen and (Max-Width: 500px)" href="../static/CSS/responsive2.css">
<script src="https://kit.fontawesome.com/f87a898598.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://unpkg.com/sheryjs/dist/Shery.css" /> <!-- Recommended -->

<div id="cursor"></div>
<nav id="Navbar">
  <div id="nav-head">
    <div id="logo"> <a href="/">AstaCode India</a></div>
    <div id="close">Close
      <button class="dot" id="hide"></button>
    </div>
  </div>
  <div id="upper-nav">
    <div id="main-nav"><a class="menu-item" href="/services">
        <div><span class="menu-item-text">Services</span></div>
      </a><a class="menu-item" href="/our-partners ">
        <div><span class="menu-item-text">Our-Partners</span></div>
      </a><a class="menu-item" href="/contact-us">
        <div><span class="menu-item-text">Contact-us</span></div>
      </a><a class="menu-item" href="/testimoneals">
        <div><span class="menu-item-text">Testimoneals</span></div>
      </a></div>
    <div id="side-nav">
      <h2>Connect with us...</h2><a class="menu-item" href="https://x.com/astacodeindia?t=VVWEdFrVpEPUPMQx9SlDHg&s=08"
        target="_blank">
        <div><span class="menu-item-text">X</span></div>
      </a><a class="menu-item" href="https://www.instagram.com/astacodeindia?igsh=czhwMHA4dXE2cDdy" target="_blank">
        <div><span class="menu-item-text">Instagram</span></div>
      </a><a class="menu-item" href="#" target="_blank">
        <div><span class="menu-item-text">Linkedin</span></div>
      </a><a class="menu-item" href="https://www.facebook.com/share/jW414KK6e9KXT613/?mibextid=qi2Omg" target="_blank">
        <div><span class="menu-item-text">Facebook</span></div>
      </a>
    </div>
    <div id="lower-nav">
      <div id="small-nav"><a class="menu-item" href="/about-us">
          <div><span class="menu-item-text">About-us</span></div>
        </a><a class="menu-item" href="/terms-and-condition">
          <div><span class="menu-item-text">Terms & Conditions</span></div>
        </a><a class="menu-item" href="/refer-and-earn">
          <div><span class="menu-item-text">Refer & Earn</span></div>
        </a></div>
    </div>
  </div>
</nav>
<main id="main">
  <header>
    <div id="header-left">
      <div id="logo"> <a href="/">AstaCode India</a></div>
    </div>
    <div id="header-right">
      <div id="contact"><a class="menu-item" href="/contact-us">
          <div><span class="menu-item-text">Contact</span></div>
        </a></div>
      <h3>Menu
        <button class="dot" id="show"></button>
      </h3>
    </div>
  </header>

  <section id="hero">
    <div id="big-text" class="animate" style="font-size: 12vw;">
      <h1>AstaCode India</h1>
    </div>
    <div id="sub-text" class="animate" style="    font-size: 12vw;">
      <h1>WHERE INNOVATION MEETS IMAGINATION</h1>
    </div>
    <div id="scroll-hint">
      <img src="../static/Icons/mouse-cursor.png" alt="">
    </div>
  </section>
  <section id="part-2">
    <div id="left">
      <div id="l-txt">
        <h2> <span>
            <h2>Join us on a journey of digital</h2>
          </span> <span>
            <h2>transformation and let’s create</h2>
          </span> <span>
            <h2>something
              exceptional</h2>
          </span><span>
            <h2>together.</h2>
          </span></h2>
        <h3>AstaCode India "Proudly Code in India."</h3>
      </div>
    </div>
    <div id="center">
      <span class="black-line"></span>
    </div>
    <div id="right">
      <div id="r-txt">
        <h2>At AstaCode India, we're more than just a web design agency; we're digital artisans who take pride in our
          craft.
          "Proudly Code in India" isn't just our slogan—it's our ethos. We blend traditional aesthetics with modern
          technology to
          create stunning, effective online experiences for our clients. Based in the heart of India, our team of
          dedicated
          designers and developers harnesses the rich tapestry of Indian creativity and innovation in each project. Our
          commitment
          is to deliver not only visually captivating websites but also functional digital solutions that drive growth
          and success
          for businesses both locally and globally.</h2>
      </div>
    </div>


  </section>

  <section id="part-3">
    <div id="part-3-left">
      <div id="image-wrapper-3">
        <!-- <img src="../static/Images/Img-2.jpeg" alt=""> -->
        <img src="../static/Images/Designers.jpg" alt="">
      </div>
    </div>
    <div id="part-3-right">
      <div id="right-top">
        <h1><span>Elevate your brand with cutting-edge</span></h1>
        <h1><span>web development and design</span></h1>
      </div>
      <div id="right-centre">
        <h2>Seamless,Responsive,Unique.</h2>
      </div>
      <div id="right-bottom">
      </div><a href="/services" target="_self">
        <button class="btn"><span data-text="Learn More.">Learn More.</span></button></a>
    </div>
    </div>
  </section>

  <section id="part-4">
    <div id="up-part-4">
      <h1>Ideology</h1>
    </div>
    <div id="down-part-4">
      <div id="left-4">
        <div id="image-wrapper-4">
          <img src="../static/Images/Logo.png" alt="">
        </div>
      </div>
      <div id="right-4">
        <div id="text-4">At AstaCode India, our unique coalition of developers, designers, strategists, and analysts
          transcends conventional
          solutions, crafting products with fidelity to their original designs, no compromises. Guided by a
          user-centered ethos,
          we not only elevate productivity and amplify revenue but relentlessly pursue excellence, surpassing our
          achievements
          with each endeavor.</div>
      </div>
    </div>
  </section>

  <section id="our-team">
    <div id="our-team-text">
      <h1>Our Team</h1>
    </div>
    <div class="team-mates">
      <div class="team-left">
        <div class="number">01.</div>
        <div class="name">Sumit Sharma</div>
      </div>
      <div class="team-right">
        <div class="role">CEO</div>
      </div>
      <img src="../static/Images/Sumit.jpeg" alt="">
    </div>
    <div class="team-mates">
      <div class="team-left">
        <div class="number">02.</div>
        <div class="name">Rohit Argal</div>
      </div>
      <div class="team-right">
        <div class="role">Project Director</div>
      </div>
      <img src="../static/Images/Rohit.jpg" alt="">
    </div>
    <div class="team-mates">
      <div class="team-left">
        <div class="number">03.</div>
        <div class="name">Harsh Tripathi</div>
      </div>
      <div class="team-right">
        <div class="role">Senior UI/UX Designer</div>
      </div>
      <img src="../static/Images/Harsh.jpg" alt="">
    </div>
    <div class="team-mates">
      <div class="team-left">
        <div class="number">04.</div>
        <div class="name">Mayank Yadav</div>
      </div>
      <div class="team-right">
        <div class="role">Marketing Director</div>
      </div>
      <img src="../static/Images/Mayank.jpg" alt="">
    </div>
    <div class="team-mates">
      <div class="team-left">
        <div class="number">05.</div>
        <div class="name">Shivam Baghel</div>
      </div>
      <div class="team-right">
        <div class="role">Sales Executive</div>
      </div>
      <img src="../static/Images/Shivam.jpg" alt="">
    </div>
    <div class="team-btn"><a href="/our-partners " target="_self">
        <button class="btn"><span data-text="Meet our Partners ">Meet our Partners</span></button></a>
    </div>
  </section>

  <section id="part-5">
    <video src="../static/Images/Video.mp4" loop muted></video>
    <div id="hover-btn">
      <h2>Let's create something extraordinary together!</h2>
      <button>Play Reel</button>
    </div>
  </section>
























  <footer>
    <div id="footer-up">
      <div id="up-part">
        <h2>Connect with us...</h2>
      </div>
      <div id="menu"><a class="menu-item" href="#">
          <div><span class="menu-item-text">X</span></div>
        </a><a class="menu-item" href="#">
          <div><span class="menu-item-text">Instagram</span></div>
        </a><a class="menu-item" href="#">
          <div><span class="menu-item-text">Linkedin</span></div>
        </a><a class="menu-item" href="#">
          <div><span class="menu-item-text">Facebook</span></div>
        </a></div>
    </div>
    <div id="footer-between">
      <div id="part-left">
        <h2>Bhind,<br>Madhya Pradesh</h2>
      </div>
      <div id="part-right">
        <div id="mail">
          <h3><a href="mailto:mail@astacodeindia.com">mail@astacodeindia.com</a></h3>
        </div>
        <div id="year">
          <h2>©2024</h2>
        </div>
      </div>
    </div>
    <div id="footer-down">
      <h1>ASTACODE INDIA</h1>
    </div>
  </footer>
</main>
<script src="https://unpkg.com/@studio-freight/lenis@1.0.34/dist/lenis.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/split-type@0.3.4/umd/index.min.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
  integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
  integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="../static/JS/myloco.js"></script>
<script src="../static/JS/script.js"></script>
<script src="../static/JS/Text.js"></script>


<script>// Hero Page Animation 

  gsap.to('.animate h1', {
    top: 0,
    duration: .5,
    delay: 0.2,
    stagger: .5,
  })

  gsap.to("#scroll-hint img", {
    y: 10,
    duration: 2.5,
    repeat: 200,


  })
  gsap.to("#scroll-hint ", {
    opacity: 0,
    duration: 2,
    // x: 600,
    scale: 0,
    scrollTrigger: {
      trigger: "#scroll-hint",
      start: "top 55%",
      end: "top 80%",
      // markers: true,
      scrub: 2

    }
  })</script>