<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Partners | AstaCode India</title>
<link rel="stylesheet" href="../static/CSS/style.css">
<link rel="stylesheet" href="../static/CSS/nav.css">
<link rel="shortcut icon" href="../static/Images/Logo.ico" type="image/x-icon">
<link rel="stylesheet" href="../static/CSS/locomotive.css">
<link rel="stylesheet" href="../static/CSS/partners.css">
<link rel="stylesheet" media="screen and (Max-width: 977px)" href="../static/CSS/responsive.css">
<link rel="stylesheet" media="screen and (Max-Width: 500px)" href="../static/CSS/responsive2.css">
<div id="cursor"></div>
<nav id="Navbar">
    <div id="nav-head">
        <div id="logo"> <a href="/">AstaCode India</a></div>
        <div id="close">Close
            <button class="dot" id="hide"></button>
        </div>
    </div>
    <div id="upper-nav">
        <div id="main-nav"><a class="menu-item" href="/services">
                <div><span class="menu-item-text">Services</span></div>
            </a><a class="menu-item" href="/our-partners ">
                <div><span class="menu-item-text">Our-Partners</span></div>
            </a><a class="menu-item" href="/contact-us">
                <div><span class="menu-item-text">Contact-us</span></div>
            </a><a class="menu-item" href="/testimoneals">
                <div><span class="menu-item-text">Testimoneals</span></div>
            </a></div>
    <div id="side-nav">
        <h2>Connect with us...</h2><a class="menu-item" href="https://x.com/astacodeindia?t=VVWEdFrVpEPUPMQx9SlDHg&s=08"
            target="_blank">
            <div><span class="menu-item-text">X</span></div>
        </a><a class="menu-item" href="https://www.instagram.com/astacodeindia?igsh=czhwMHA4dXE2cDdy" target="_blank">
            <div><span class="menu-item-text">Instagram</span></div>
        </a><a class="menu-item" href="#" target="_blank">
            <div><span class="menu-item-text">Linkedin</span></div>
        </a><a class="menu-item" href="https://www.facebook.com/share/jW414KK6e9KXT613/?mibextid=qi2Omg" target="_blank">
            <div><span class="menu-item-text">Facebook</span></div>
        </a>
    </div>
        <div id="lower-nav">
            <div id="small-nav"><a class="menu-item" href="/about-us">
                    <div><span class="menu-item-text">About-us</span></div>
                </a><a class="menu-item" href="/terms-and-condition">
                    <div><span class="menu-item-text">Terms & Conditions</span></div>
                </a><a class="menu-item" href="/refer-and-earn">
                    <div><span class="menu-item-text">Refer & Earn</span></div>
                </a></div>
        </div>
    </div>
</nav>
<main id="main">
    <header>
        <div id="header-left">
            <div id="logo"> <a href="/">AstaCode India</a></div>
        </div>
        <div id="header-right">
            <div id="contact"><a class="menu-item" href="/contact-us">
                    <div><span class="menu-item-text">Contact</span></div>
                </a></div>
            <h3>Menu
                <button class="dot" id="show"></button>
            </h3>
        </div>
    </header>

    <section id="partner-intro">
        <div id="partner-left">
            <div id="part-top">
                <div class="dot"></div>
                <h1>Together, Building a Brighter Future</h1>
            </div>
            <div id="part-down">
                <h1>Join us on a journey of digital transformation and let’s create something exceptional together.</h1>
            </div>
        </div>
        <div id="partner-right">
            <h1>At AstaCode India, we're more than just a web design agency; we're digital artisans who take pride in our craft.
            "Proudly Code in India" isn't just our slogan—it's our ethos. We blend traditional aesthetics with modern technology to
            create stunning, effective online experiences for our clients. Based in the heart of India, our team of dedicated
            designers and developers harnesses the rich tapestry of Indian creativity and innovation in each project. Our commitment
            is to deliver not only visually captivating websites but also functional digital solutions that drive growth and success
            for businesses both locally and globally.</h1>
        </div>
    </section>
    <section id="partners-part-2">
        <div id="part-2-left">
            <div id="p2pl-top">
                <h1>A Diverse and Skilled Team of Problem-Solvers</h1>
            </div>
            <div id="p2pl-down">
                <h2>Our diverse team expertly navigates complex challenges with curiosity and excellence, harnessing a broad spectrum of
                skills and perspectives.</h2>
                <ul>
                <li>Innovative Thinkers</li>
                <li>Collaborative Experts</li>
                <li>Solution-Oriented Professionals</li>
                </ul>
            </div>
        </div>
        <div id="part-2-right">
            <img src="../static/Images/Designers.jpg" alt="">
        </div>
    </section>
    <section id="partners-part-3">
        <div id="p3pt">
            <div class="dot"></div>
            <h2>MEET THE VISIONARIES</h2>
        </div>
        <div id="p3pd">
            <h1>MEET ASTACODE INDIA’S TEAM</h1>
            <h2>At AstaCode India, we believe in the power of collaboration to create unprecedented value and innovation. Our
            partnerships stand at the core of our mission, weaving together a tapestry of expertise, vision, and commitment to
            excellence.</h2>
        </div>
    </section>
    <section id="team">
        <div class="team-mates">
            <div class="team-left">
                <div class="number">01.</div>
                <div class="name">Sumit Sharma</div>
            </div>
            <div class="team-right">
                <div class="role">CEO</div>
            </div>
            <img src="../static/Images/Sumit.jpeg" alt="">
        </div>
        <div class="team-mates">
            <div class="team-left">
                <div class="number">02.</div>
                <div class="name">Rohit Argal</div>
            </div>
            <div class="team-right">
                <div class="role">Project Director</div>
            </div>
            <img src="../static/Images/Rohit.jpg" alt="">
        </div>
        <div class="team-mates">
            <div class="team-left">
                <div class="number">03.</div>
                <div class="name">Harsh Tripathi</div>
            </div>
            <div class="team-right">
                <div class="role">Senior UI/UX Designer</div>
            </div>
            <img src="../static/Images/Harsh.jpg" alt="">
        </div>
        <div class="team-mates">
            <div class="team-left">
                <div class="number">04.</div>
                <div class="name">Mayank Yadav</div>
            </div>
            <div class="team-right">
                <div class="role">Marketing Director</div>
            </div>
            <img src="../static/Images/Mayank.jpg" alt="">
        </div>
    </section>
    <section id="join">
        <h1>Join Us</h1>
        <h3>Join our dynamic agency and propel your career forward!</h3>
        <div class="team-btn"><a href="/our-partners " target="_self">
                <button class="btn"><span data-text="Check the Process ">Check the Process</span></button></a>
        </div>
    </section>
    <section id="team-mate-review">
        <div id="review">
            <h2>Working with the AstaCode India’s team has been such a pleasure! We took on a significant project to rebuild our entire
            platform and the team approached the project with our best interests in mind. They continue to prioritize the end user
            experience and offer amazing expertise in all of the areas we lack internally. I would personally be lost without this
            team, their ability to problem solve, their openness to feedback and desire to build the product like it is their own</h2>
        </div>
        <div id="details">
            <div id="img">
                <img src="../static/Images/Mayank.jpg" alt="">
            </div>
            <div id="name">
                <h1>Mayank Yadav</h1>
                <h2>Marketing Director at AstaCode India</h2>
            </div>
        </div>
    </section>







    <footer>
        <div id="footer-up">
            <div id="up-part">
                <h2>Connect with us...</h2>
            </div>
            <div id="menu"><a class="menu-item" href="#">
                    <div><span class="menu-item-text">X</span></div>
                </a><a class="menu-item" href="#">
                    <div><span class="menu-item-text">Instagram</span></div>
                </a><a class="menu-item" href="#">
                    <div><span class="menu-item-text">Linkedin</span></div>
                </a><a class="menu-item" href="#">
                    <div><span class="menu-item-text">Facebook</span></div>
                </a></div>
        </div>
        <div id="footer-between">
            <div id="part-left">
                <h2>Bhind,<br>Madhya Pradesh</h2>
            </div>
            <div id="part-right">
                <div id="mail">
                    <h3><a href="mailto:mail@astacodeindia.com">mail@astacodeindia.com</a></h3>
                </div>
                <div id="year">
                    <h2>©2024</h2>
                </div>
            </div>
        </div>
        <div id="footer-down">
            <h1>ASTACODE INDIA</h1>
        </div>
    </footer>
</main>
<script src="https://unpkg.com/@studio-freight/lenis@1.0.34/dist/lenis.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/split-type@0.3.4/umd/index.min.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
    integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
    integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="../static/JS/myloco.js"></script>
<script src="../static/JS/script.js"></script>
<script src="../static/JS/Text.js"></script>
<script>
    gsap.from("#partner-intro",{
        opacity: 0,
        duration: 4,
        delay: 1
    })
    gsap.from("#partners-part-2",{
        opacity: 0,
        duration: 4,
               stagger: 1,
        // delay: 1.5
        scrollTrigger: {
            trigger: "#partners-part-2",
            start: "top 40%",
            end: "top 40%",
            // markers: true,
            scrub: 2
        }
    })
    gsap.from("#partners-part-3",{
        opacity: 0,
        duration: 4,
        stagger: 1,
        // delay: 1.5
        scrollTrigger: {
            trigger: "#partners-part-3",
            start: "top 700px",
            end: "top 700px",
            // markers: true,
            scrub: 2
        }
    })
    gsap.from("#team",{
        opacity: 0,
        duration: 4,
        stagger: 1,
        // delay: 1.5
        scrollTrigger: {
            trigger: "#team",
            start: "top 700px",
            end: "top 700px",
            // markers: true,
            scrub: 2
        }
    })
    gsap.from("#join",{
        opacity: 0,
        duration: 4,
        stagger: 1,
        // delay: 1.5
        scrollTrigger: {
            trigger: "#join",
            start: "top 40%",
            end: "top 40%",
            // markers: true,
            scrub: 2
        }
    })
    gsap.from("#team-mate-review",{
        opacity: 0,
        duration: 4,
        stagger: 1,
        // delay: 1.5
        scrollTrigger: {
            trigger: "#team-mate-review",
            start: "top 40%",
            end: "top 40%",
            // markers: true,
            scrub: 2
        }
    })
</script>