<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Services | AstaCode India</title>
<link rel="stylesheet" href="../static/CSS/style.css">
<link rel="stylesheet" href="../static/CSS/nav.css">
<link rel="stylesheet" href="../static/CSS/service.css">
<link rel="shortcut icon" href="../static/Images/Logo.ico" type="image/x-icon">
<link rel="stylesheet" href="../static/CSS/locomotive.css">
<link rel="stylesheet" media="screen and (Max-width: 977px)" href="../static/CSS/responsive.css">
<link rel="stylesheet" media="screen and (Max-Width: 500px)" href="../static/CSS/responsive2.css">
<div id="cursor"></div>
<nav id="Navbar">
  <div id="nav-head">
    <div id="logo"> <a href="/">AstaCode India</a></div>
    <div id="close">Close
      <button class="dot" id="hide"></button>
    </div>
  </div>
  <div id="upper-nav">
    <div id="main-nav"><a class="menu-item" href="/services">
        <div><span class="menu-item-text">Services</span></div>
      </a><a class="menu-item" href="/our-partners ">
        <div><span class="menu-item-text">Our-Partners</span></div>
      </a><a class="menu-item" href="/contact-us">
        <div><span class="menu-item-text">Contact-us</span></div>
      </a><a class="menu-item" href="/testimoneals">
        <div><span class="menu-item-text">Testimoneals</span></div>
      </a></div>
    <div id="side-nav">
      <h2>Connect with us...</h2><a class="menu-item" href="https://x.com/astacodeindia?t=VVWEdFrVpEPUPMQx9SlDHg&s=08"
        target="_blank">
        <div><span class="menu-item-text">X</span></div>
      </a><a class="menu-item" href="https://www.instagram.com/astacodeindia?igsh=czhwMHA4dXE2cDdy" target="_blank">
        <div><span class="menu-item-text">Instagram</span></div>
      </a><a class="menu-item" href="#" target="_blank">
        <div><span class="menu-item-text">Linkedin</span></div>
      </a><a class="menu-item" href="https://www.facebook.com/share/jW414KK6e9KXT613/?mibextid=qi2Omg" target="_blank">
        <div><span class="menu-item-text">Facebook</span></div>
      </a>
    </div>
    <div id="lower-nav">
      <div id="small-nav"><a class="menu-item" href="/about-us">
          <div><span class="menu-item-text">About-us</span></div>
        </a><a class="menu-item" href="/terms-and-condition">
          <div><span class="menu-item-text">Terms & Conditions</span></div>
        </a><a class="menu-item" href="/refer-and-earn">
          <div><span class="menu-item-text">Refer & Earn</span></div>
        </a></div>
    </div>
  </div>
</nav>
<main id="main">
  <header>
    <div id="header-left">
      <div id="logo"> <a href="/">AstaCode India</a></div>
    </div>
    <div id="header-right">
      <div id="contact"><a class="menu-item" href="/contact-us">
          <div><span class="menu-item-text">Contact</span></div>
        </a></div>
      <h3>Menu
        <button class="dot" id="show"></button>
      </h3>
    </div>
  </header>
  <section id="Service-hero">
    <h1><span>Welcome to <span class="brand-color">AstaCode India</span> , where innovation meets</span></h1>
    <h1><span>expertise. Our comprehensive range of services is</span></h1>
    <h1><span>designed to empower your online presence and</span></h1>
    <h1><span>elevate your brand to new heights. Explore our</span></h1>
    <h1><span>offerings below:</span></h1>
  </section>
  <section class="service" id="web-dev">
    <div class="heading">
      <h1 class="brand-color-bold">Web Development</h1>
    </div>
    <div class="brief">
      <h2>At AstaCode India, we specialize in creating robust and scalable web solutions tailored to your unique needs.
        Our
        skilled developers leverage the latest technologies to build websites and web applications that not only meet
        but exceed
        expectations. Whether it's a dynamic e-commerce platform or a custom web application, we bring your ideas to
        life.</h2>
    </div>
    <div class="keys">
      <h2 class="head">Our Web Development Services Include:</h2>
      <ul>
        <li>Front-end and Back-end Development</li>
        <li>E-commerce Solutions</li>
        <li>Custom Web Applications</li>
        <li>Content Management Systems (CMS)</li>
        <li>API Integrations</li>
      </ul>
    </div>
    <div class="outro">
      <h2>Discover the endless possibilities with our web development expertise.</h2>
    </div>
    <div class="button"><a href="/contact-us" target="_self">
        <button class="btn"><span data-text="Learn More.">Learn More.</span></button></a></div>

  </section>
  <section class="service" id="design">
    <div class="heading">
      <h1 class="brand-color-bold">Website Designing</h1>
    </div>
    <div class="brief">
      <h2>A captivating design is the first impression your audience will have. Our talented design team at AstaCode
        India ensures
        that your website not only looks stunning but also provides an intuitive and seamless user experience. We blend
        creativity with functionality to create visually appealing designs that resonate with your brand identity.</h2>
    </div>
    <div class="keys">
      <h2 class="head">Our Website Designing Services Include:</h2>
      <ul>
        <li>UI/UX Design</li>
        <li>Responsive Web Design</li>
        <li>Graphic Design</li>
        <li>Branding and Identity</li>
        <li>Prototyping and Wireframing</li>

      </ul>
    </div>
    <div class="outro">
      <h2>Let's transform your vision into a visually compelling reality.</h2>
    </div>
    <div class="button"><a href="/contact-us" target="_self">
        <button class="btn"><span data-text="Explore Designs.">Explore Designs.</span></button></a></div>

  </section>
  <section class="service" id="web-main">
    <div class="heading">
      <h1 class="brand-color-bold">Web Maintainence</h1>
    </div>
    <div class="brief">
      <h2>Your online presence requires constant care and updates. AstaCode India offers comprehensive web maintenance
        services to
        keep your website running smoothly. From regular updates to security enhancements, we ensure that your website
        remains
        secure, up-to-date, and continues to deliver an exceptional user experience.</h2>
    </div>
    <div class="keys">
      <h2 class="head">Our Website Maintainence Services Include:</h2>
      <ul>
        <li>Regular Updates and Patches</li>
        <li>Security Audits and Enhancements</li>
        <li>Content Updates</li>
        <li>Performance Optimization</li>
        <li>Backup and Recovery</li>
      </ul>
    </div>
    <div class="outro">
      <h2>Experience hassle-free website management with our maintenance services.</h2>
    </div>
    <div class="button"><a href="/contact-us" target="_self">
        <button class="btn"><span data-text="Keep My Site Updated">Keep My Site Updated</span></button></a></div>

  </section>
  <section class="service" id="seo">
    <div class="heading">
      <h1 class="brand-color-bold">Search Engine Optimization (SEO)</h1>
    </div>
    <div class="brief">
      <h2>Unlock the full potential of your online presence with our SEO services. AstaCode India employs proven
        strategies to
        improve your website's visibility, drive organic traffic, and boost your search engine rankings. From keyword
        optimization to content strategy, we ensure your brand stands out in the digital landscape.</h2>
    </div>
    <div class="keys">
      <h2 class="head">Our SEO Services Include:</h2>
      <ul>
        <li>Keyword Research and Optimization</li>
        <li>On-Page and Off-Page SEO</li>
        <li>Content Strategy and Creation</li>
        <li>Analytics and Reporting</li>
        <li>Local SEO</li>
      </ul>
    </div>
    <div class="outro">
      <h2>Let’s get your website noticed.</h2>
    </div>
    <div class="button"><a href="/contact-us" target="_self">
        <button class="btn"><span data-text="Optimize My Website.">Optimize My Website.</span></button></a></div>

  </section>
  <section class="service" id="motion-design">
    <div class="heading">
      <h1 class="brand-color-bold">Motion Designing</h1>
    </div>
    <div class="brief">
      <h2>Add a touch of dynamism to your brand with our motion design services. From engaging animations to interactive
        elements,
        AstaCode India brings your digital content to life. Whether it's a promotional video, animated graphics, or
        interactive
        user interfaces, our motion design team creates experiences that leave a lasting impression.</h2>
    </div>
    <div class="keys">
      <h2 class="head">Our Motion Designing Services Include:</h2>
      <ul>
        <li>Animation and Visual Effects</li>
        <li>Interactive User Interfaces</li>
        <li>Video Production and Editing</li>
        <li>3D Modeling and Rendering</li>



      </ul>
    </div>
    <div class="outro">
      <h2>Elevate your brand with captivating motion design.</h2>
    </div>
    <div class="button"><a href="/contact-us" target="_self">
        <button class="btn"><span data-text="Bring My Brand to Life.">Bring My Brand to Life.</span></button></a></div>

  </section>












  <footer>
    <div id="footer-up">
      <div id="up-part">
        <h2>Connect with us...</h2>
      </div>
      <div id="menu"><a class="menu-item" href="#">
          <div><span class="menu-item-text">X</span></div>
        </a><a class="menu-item" href="#">
          <div><span class="menu-item-text">Instagram</span></div>
        </a><a class="menu-item" href="#">
          <div><span class="menu-item-text">Linkedin</span></div>
        </a><a class="menu-item" href="#">
          <div><span class="menu-item-text">Facebook</span></div>
        </a></div>
    </div>
    <div id="footer-between">
      <div id="part-left">
        <h2>Bhind,<br>Madhya Pradesh</h2>
      </div>
      <div id="part-right">
        <div id="mail">
          <h3><a href="mailto:mail@astacodeindia.com">mail@astacodeindia.com</a></h3>
        </div>
        <div id="year">
          <h2>©2024</h2>
        </div>
      </div>
    </div>
    <div id="footer-down">
      <h1>ASTACODE INDIA</h1>
    </div>
  </footer>
</main>
<script src="https://unpkg.com/@studio-freight/lenis@1.0.34/dist/lenis.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/split-type@0.3.4/umd/index.min.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
  integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
  integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="../static/JS/myloco.js"></script>
<script src="../static/JS/script.js"></script>
<!-- <script src="../static/JS/Text.js"></script> -->
<script>

  // Service Page 

  gsap.to("#Service-hero h1 span", {
    bottom: 0,
    duration: 1,
    stagger: .4
  })

  gsap.to("#web-dev .heading h1", {
    bottom: 0,
    duration: 1.2,
    scrollTrigger: {
      trigger: " #web-dev",
      start: "top 40%",
      end: "top 40%",
      // markers: true,
      scrub: 2
    }
  })
  gsap.from("#web-dev .brief h2", {
    opacity: 0,
    duration: 1.2,
    scrollTrigger: {
      trigger: " #web-dev .brief",
      start: "top 40%",
      end: "top 40%",
      // markers: true,
      scrub: 2
    }
  })
  gsap.from("#web-dev .keys", {
    opacity: 0,
    duration: 1.2,
    scrollTrigger: {
      trigger: " #web-dev .keys",
      start: "top 40%",
      end: "top 40%",
      // markers: true,
      scrub: 2
    }
  })
  gsap.from("#web-dev .outro", {
    opacity: 0,
    duration: 1.2,
    scrollTrigger: {
      trigger: " #web-dev .keys",
      start: "top 40%",
      end: "top 40%",
      // markers: true,
      scrub: 2
    }
  })
  gsap.from("#web-dev .button a", {
    opacity: 0,
    duration: 1.2,
    scrollTrigger: {
      trigger: " #web-dev .button",
      start: "top 40%",
      end: "top 40%",
      // markers: true,
      scrub: 2
    }
  })
  gsap.to("#design .heading h1", {
    bottom: 0,
    duration: 1.2,
    scrollTrigger: {
      trigger: " #design",
      start: "top 40%",
      end: "top 40%",
      // markers: true,
      scrub: 2
    }
  })
  gsap.from("#design .brief h2", {
    opacity: 0,
    duration: 1.2,
    scrollTrigger: {
      trigger: " #design .brief",
      start: "top 40%",
      end: "top 40%",
      // markers: true,
      scrub: 2
    }
  })
  gsap.from("#design .keys", {
    opacity: 0,
    duration: 1.2,
    scrollTrigger: {
      trigger: " #design .keys",
      start: "top 40%",
      end: "top 40%",
      // markers: true,
      scrub: 2
    }
  })
  gsap.from("#design .outro", {
    opacity: 0,
    duration: 1.2,
    scrollTrigger: {
      trigger: " #design .keys",
      start: "top 40%",
      end: "top 40%",
      // markers: true,
      scrub: 2
    }
  })
  gsap.from("#design .button a", {
    opacity: 0,
    duration: 1.2,
    scrollTrigger: {
      trigger: " #design .button",
      start: "top 40%",
      end: "top 40%",
      // markers: true,
      scrub: 2
    }
  })
  gsap.to("#web-main .heading h1", {
    bottom: 0,
    duration: 1.2,
    scrollTrigger: {
      trigger: " #web-main",
      start: "top 40%",
      end: "top 40%",
      // markers: true,
      scrub: 2
    }
  })
  gsap.from("#web-main .brief h2", {
    opacity: 0,
    duration: 1.2,
    scrollTrigger: {
      trigger: " #web-main .brief",
      start: "top 40%",
      end: "top 40%",
      // markers: true,
      scrub: 2
    }
  })
  gsap.from("#web-main .keys", {
    opacity: 0,
    duration: 1.2,
    scrollTrigger: {
      trigger: " #web-main .keys",
      start: "top 40%",
      end: "top 40%",
      // markers: true,
      scrub: 2
    }
  })
  gsap.from("#web-main .outro", {
    opacity: 0,
    duration: 1.2,
    scrollTrigger: {
      trigger: " #web-main .keys",
      start: "top 40%",
      end: "top 40%",
      // markers: true,
      scrub: 2
    }
  })
  gsap.from("#web-main .button a", {
    opacity: 0,
    duration: 1.2,
    scrollTrigger: {
      trigger: " #web-main .button",
      start: "top 40%",
      end: "top 40%",
      // markers: true,
      scrub: 2
    }
  })
  gsap.to("#seo .heading h1", {
    bottom: 0,
    duration: 1.2,
    scrollTrigger: {
      trigger: " #seo",
      start: "top 40%",
      end: "top 40%",
      // markers: true,
      scrub: 2
    }
  })
  gsap.from("#seo .brief h2", {
    opacity: 0,
    duration: 1.2,
    scrollTrigger: {
      trigger: " #seo .brief",
      start: "top 40%",
      end: "top 40%",
      // markers: true,
      scrub: 2
    }
  })
  gsap.from("#seo .keys", {
    opacity: 0,
    duration: 1.2,
    scrollTrigger: {
      trigger: " #seo .keys",
      start: "top 40%",
      end: "top 40%",
      // markers: true,
      scrub: 2
    }
  })
  gsap.from("#seo .outro", {
    opacity: 0,
    duration: 1.2,
    scrollTrigger: {
      trigger: " #seo .keys",
      start: "top 40%",
      end: "top 40%",
      // markers: true,
      scrub: 2
    }
  })
  gsap.from("#seo .button a", {
    opacity: 0,
    duration: 1.2,
    scrollTrigger: {
      trigger: " #seo .button",
      start: "top 40%",
      end: "top 40%",
      // markers: true,
      scrub: 2
    }
  })
  gsap.to("#motion-design .heading h1", {
    bottom: 0,
    duration: 1.2,
    scrollTrigger: {
      trigger: " #motion-design",
      start: "top 40%",
      end: "top 40%",
      // markers: true,
      scrub: 2
    }
  })
  gsap.from("#motion-design .brief h2", {
    opacity: 0,
    duration: 1.2,
    scrollTrigger: {
      trigger: " #motion-design .brief",
      start: "top 40%",
      end: "top 40%",
      // markers: true,
      scrub: 2
    }
  })
  gsap.from("#motion-design .keys", {
    opacity: 0,
    duration: 1.2,
    scrollTrigger: {
      trigger: " #motion-design .keys",
      start: "top 40%",
      end: "top 40%",
      // markers: true,
      scrub: 2
    }
  })
  gsap.from("#motion-design .outro", {
    opacity: 0,
    duration: 1.2,
    scrollTrigger: {
      trigger: " #motion-design .keys",
      start: "top 40%",
      end: "top 40%",
      // markers: true,
      scrub: 2
    }
  })
  gsap.from("#motion-design .button a", {
    opacity: 0,
    duration: 1.2,
    scrollTrigger: {
      trigger: " #motion-design .button",
      start: "top 40%",
      end: "top 40%",
      // markers: true,
      scrub: 2
    }
  })
</script>