<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Thank you 😊</title>
<link rel="stylesheet" href="../static/CSS/style.css">
<link rel="stylesheet" href="../static/CSS/nav.css">
<link rel="shortcut icon" href="../static/Images/Logo.ico" type="image/x-icon">
<link rel="stylesheet" href="../static/CSS/locomotive.css">
<link rel="stylesheet" media="screen and (Max-width: 977px)" href="../static/CSS/responsive.css">
<link rel="stylesheet" media="screen and (Max-Width: 500px)" href="../static/CSS/responsive2.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap" rel="stylesheet">
<style>
    #error-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        position: relative;
        }

    #error-container::before {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        /* background-color: #FB503A; */
        z-index: -1;
        opacity: 1;
    }
    #content{
        height: 60vh;
        width: 50vw;
        background-color: #fb503a42;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        box-shadow: inset -2px -2px 15px #fb503a, 2px 2px 50px #fb503a ;
    }
    #content h1{
        font-size: 7vw;
        margin-bottom: 5%;
        font-family: "Alex Brush", cursive;
        font-weight: 400;
        font-style: normal;
    }
    #content h3{
        font-size: 2vw;
        margin-bottom: 2%;
    }
    #content h2{
        font-size: 2.5vw;
    } a{
        text-decoration: underline;
        color: #fb503a;
    }

</style>
<body>
<main id="main">
            <div id="error-container">
                <div id="content">
                    <h1>Thank You</h1>
                    <h3>Form Submitted sucessfully</h3>
                    <h3>Check Your Mailbox for Further Response</h3>
                    <h2>Back to <a href="/">Home Page</a></h2>
                    
                </div>
        </div>
</main>
</body>
<script src="https://unpkg.com/@studio-freight/lenis@1.0.34/dist/lenis.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/split-type@0.3.4/umd/index.min.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
    integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
    integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="../static/JS/myloco.js"></script>
<script src="../static/JS/script.js"></script>
<script src="../static/JS/Text.js"></script>